.body{
	width: 100%;
	margin: auto;

}

.container{
	width: 1000px;
	margin: 0 auto;

}

#header {
	background: white;
	width: 100%;
	top: 0;
	position: fixed;
	top:0;
	left:0;
	font-size: 20px;
}

.logo{

	float: left;
	text-indent: -99999px;
	background: url('logo.jpeg');
	width: 150px;
	height: 130px;

}


.input[type=text] {
	
    width: 60px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 30%;
}
.Search_box{

padding-top: 7%;
padding-left: 40%;
}

a{
text-decoration: none;	
font-family: "Calibri";
color: black;
}

li{
	list-style: none;
	float: left;
	margin-left: 15px;
	padding-top: 20px;
}

.nav{
padding-top: 3%;
	float: right;
}

